.activity {
  min-width: 30rem;
  max-height: 40rem;
  flex-grow: 1;
}

.activity-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.activity-toggle {
  display: flex;
}

.activity-btn {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  color: #fafafa;
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 10px;
}

.activity-btn:hover {
  border: 1px solid #8c959e;
  background-color: #343c41;
}

.activity-btn:active {
  outline: none;
}

.activity-btn-active {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  color: #fafafa;
  border: 1px solid #8c959e;
  background-color: #343c41;
  border-radius: 10px;
}

.activity-btn-active:focus {
  outline: none;
}

.your-events {
  height: 35rem;
  padding-right: 1rem;
  overflow: auto;
}

.no-activity {
  margin-top: 50%;
  text-align: center;
}

.your-events hr {
  margin: 2rem 0rem;
  height: 1px;
  border: 0;
  background: #30363d;
}

.event-day {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0rem;
}

.event-day h2 {
  color: #58a6ff;
}

.event-day h3 {
  margin-right: 1rem;
  color: #8b949e;
}

.event p {
  font-size: 1.2rem;
  margin-top: 0.8rem;
}

.event p:first-child {
  margin-bottom: 0.8rem;
  font-weight: bolder;
}
