.add-btn {
  font-size: 14px;
  color: rgb(240, 240, 240);
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 10px;
  border: none;
  background: #58a6ff;
}

.add-btn:hover {
  background-color: #3a86ff;
}

.add-btn:active {
  top: 2px;
}

.add-form-container {
  position: absolute;
  background-color: rgb(255, 255, 255);
  margin-left: 20.5%;
  margin-top: 8%;
  height: 40%;
  width: 14%;
  padding: 1%;
  border-radius: 14px;
  z-index: 11;
  color: black;
  box-shadow: 5px 5px 23px 0px rgba(0, 0, 0, 0.38);
}

.goal-btn-delete {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #e34c26;
}

.goal-btn-delete:hover {
  color: #db6d52;
}

i {
  font-size: 25px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.add-goal-desc-input {
  min-height: 10px;
}
