.all-repos {
  padding: 5rem;
}

.all-repos-header {
  display: flex;
  flex-direction: flex-start;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.all-repos-header h1,
.all-repos-header h3,
.filter {
  margin-bottom: 2rem;
}

.all-repos-header h3 {
  color: #8b949e;
  text-align: center;
}

.all-repos-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  gap: 0rem 2rem;
}

.filter select {
  padding: 0.5rem;
  color: #fafafa;
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 10px;
}

.filter select:focus {
  outline: none;
}

.filter select:hover {
  border: 1px solid #8c959e;
  background-color: #2e363b;
}

/* ==================== */

@media screen and (max-width: 727px) {
  .all-repos-container {
    justify-content: center;
  }

  .filter {
    margin-left: auto;
    margin-right: auto;
  }
}
