.icon-badges {
  display: flex;
  align-items: center;
}

.badges-container {
  display: flex;
  margin: 0 4rem;
  flex-grow: 1;
}

.badge {
  position: relative;
  padding-right: 10px;
}

.badge:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 80px;
  color: black;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.badge:hover:before {
  opacity: 1;
  visibility: visible;
}

.award-icon {
  width: 25px;
  height: auto;
  padding-right: 1rem;
  color: #58a6ff;
}

.badge-modal-content {
  background-color: #fefefe;
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
  z-index: 1;
}

.close-badge-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-badge-modal:hover,
.close-badge-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-text {
  color: black;
}
