.goals {
  font-size: 18px;
  background-color: #0d1117;
  width: 100%;
  padding: 1.2%;
}

.goal-hover {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  opacity: 0.4;
}

.goal-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.add-btn {
  margin-left: 1%;
}