

.status-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.goal-hover {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  opacity: 0.4;
}

.goal-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.add-btn-container {
  display: flex;
  justify-content: center;
}

.status-btn {
  padding: 0.5rem;
  color: #fafafa;
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 10px;
}

.status-btn:focus {
  outline: none;
}

.status-btn:hover {
  border: 1px solid #8c959e;
  background-color: #343c41;
}

.status-btn-active {
  padding: 0.5rem;
  color: #fafafa;
  background-color: #2e363b;
  border: 1px solid #8c959e;
  border-radius: 10px;
}

.status-btn-active:focus {
  outline: none;
}

.status-btn-active:hover {
  border: 1px solid #8c959e;
  background-color: #343c41;
}

h5 {
  text-align: center;
  padding: 0.5rem;
  color: #fafafa;
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 10px;
}