.home {
  padding: 5rem;
}

.home-cards {
  margin-top: 5rem;
}

.timeline {
  border: 1px solid red;
  width: 1100px;
  height: 180px;
}

.bottom-charts {
  display: flex;
  justify-content: space-between;
}

.profile,
.popular,
.top-languages {
  margin-top: 50px;
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 10px;
  width: 400px;
}
