.home {
  padding: 5rem;
}

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-cards {
  margin-top: 5rem;
}

.first-row-cards,
.second-row-cards {
  display: flex;
  width: 100%;
  gap: 5rem;
  margin-top: 5rem;
  flex-wrap: wrap;
}

.profile-card,
.top-repo,
.activity {
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 10px;
  padding: 2rem;
  max-height: 40rem;
}
