.home {
  padding: 5rem;
}

.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-cards {
  margin-top: 5rem;
}

.timeline {
  margin-top: 5rem;
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 10px;
  height: 320px;
  padding: 2rem 0rem 0rem 2rem;
}

.timeline-container {
  height: 280px;
  width: 100%;
}

.first-row-cards,
.second-row-cards {
  display: flex;
  width: 100%;
  gap: 5rem;
  margin-top: 5rem;
}

.profile-card,
.top-repo,
.top-languages,
.activity {
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 10px;
  padding: 2rem;
}

.top-languages,
.top-repo {
  min-width: 30rem;
  flex-grow: 2;
}
