.personal-board-container {
  display: flex;
  justify-content: space-between;
  padding: 5rem;
  height: 83.7rem;
  flex-wrap: wrap;
  gap: 4rem;
}

/* ====================== GOALS */

.goals-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 40rem;
  position: relative;
  flex: 1 0 40%;
}

.goals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  background-color: #0d1117;
}

.personal-board-container hr {
  margin: 0rem 4rem;
  border: 0;
  background: #30363d;
  min-width: 1px;
}

/* ====================== TASKS + CHARTS */

.todo-charts {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  flex-grow: 1;
}

.todo-charts hr {
  margin: 2rem 0rem;
  width: 100%;
  min-height: 1px;
  border: 0;
  background: #30363d;
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.charts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.charts-container h2 {
  margin-bottom: 2rem;
  padding: 0.5rem;
  text-align: center;
  color: #fafafa;
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 10px;
}

.charts {
  display: flex;
  justify-content: center;
}

/* ==================== */

@media screen and (max-width: 683px) {
  .charts-container {
    margin-bottom: 5rem;
  }
}
