.single-repo-activity {
  display: flex;
  max-height: 30rem;
  /* flex: 1 0 auto; */
  flex: 1 1 18%;
}

.single-repo-activity hr {
  margin: 0rem 2rem;
  border: 0;
  background: #30363d;
  width: 1px;
}

/* ============================== LEFT CONTAINER */

.activity-left-container {
  width: 50%;
}

.activity-left-container h2:first-of-type {
  margin-bottom: 2rem;
}

.commits {
  height: 26rem;
  padding-right: 2rem;
  overflow: auto;
}

.commit h2:first-of-type {
  color: #58a6ff;
}

.commit p {
  font-size: 1.2rem;
  margin-top: 0.8rem;
}

.commit hr {
  margin: 2rem 0rem;
  height: 1px;
  border: 0;
  width: auto;
}

.test {
  display: flex;
  justify-content: space-between;
}

/* ============================== RIGHT CONTAINER */

.activity-right-container {
  flex-grow: 1;
  height: 30rem;
  overflow: auto;
}

.commit-stats {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.commit-stats hr {
  margin: 2rem 0rem;
  height: 1px;
  border: 0;
  width: auto;
}

.total-commits h2:first-child,
.average-commits h2:first-child {
  margin-bottom: 2rem;
  color: #58a6ff;
}

.avg-additions h2:first-child,
.avg-deletions h2:first-child {
  margin: 0;
  line-height: 3.5rem;
  color: #58a6ff;
}

.avg-additions,
.avg-deletions {
  font-size: 1.2rem;
}

.avg-deletions {
  margin-top: 1.5rem;
}

.commit-tip {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.commit-tip p {
  font-size: 1.2rem;
}
