.single-repo-collaborators {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  max-height: 30rem;
}

.single-repo-collaborators img {
  width: 7rem;
  border-radius: 2px;
}

.collaborators-total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

.collaborators {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  overflow: auto;
  gap: 2rem 0;
}

.collaborators > * {
  flex: 0 0 1;
}

.collaborators > :not(:nth-child(4n + 4)) {
  margin-right: 1.333333em;
}

.collaborator {
  position: relative;
}

.collaborator-name {
  width: 7rem;
  position: absolute;
  bottom: 0;
  margin-bottom: 0.2rem;
  padding: 1rem 0rem;
  word-wrap: break-word;
  text-align: center;
  background: black;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0s linear;
  cursor: pointer;
}

.collaborator:hover .collaborator-name {
  visibility: visible;
  opacity: 0.7;
}
