.modalBackground {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  margin-top: 10%;
  height: 30rem;
  width: 30rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem;
}

.modalContainer .title {
  color: #e34c26;
  display: inline-block;
  text-align: center;
  margin: 1rem 0;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: #e34c26;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  text-align: center;
}

.modalContainer .body {
  color: black;
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  line-height: 2.4rem;
}

.single-repo-modal-btns {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-repo-modal-btns button {
  height: 4rem;
  margin: 1rem;
  padding: 0 1rem;
  border: none;
  color: white;
  border-radius: 14px;
  font-size: 2rem;
  cursor: pointer;
}

.cancelBtn {
  background-color: #e34c26;
}

.continueBtn {
  background-color: #58a6ff;
}
