.single-repo-card {
  position: relative;
  display: flex;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0rem;
  width: 30rem;
  text-align: center;
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 10px;
}

.single-repo-card h2 {
  margin: 1rem;
  padding: 0.3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #58a6ff;
}

.single-repo-card p:first-of-type {
  font-size: 1.2rem;
  margin: 1rem 1rem 0rem 1rem;
  padding: 0.3rem;
  color: #8b949e;
}

.single-repo-card p:last-child {
  font-size: 1.4rem;
  margin: 0rem 1rem 1rem 1rem;
  padding: 0.3rem;
  color: #fafafa;
}

.single-repo-card a {
  text-decoration: none;
  color: #58a6ff;
}

.single-repo-card hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #30363d;
  height: 1px;
}

.single-repo-card:hover {
  border: 1px solid #8c959e;
  background-color: #2e363b;
}

.single-repo-card:hover hr {
  background-color: #8c959e;
}
