.single-repo {
  padding: 5rem;
}

.single-repo a {
  text-decoration: none;
  color: #8b949e;
}

.single-repo-first-row,
.single-repo-second-row {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-top: 5rem;
}

.single-repo-info,
.single-repo-activity,
.single-repo-languages,
.single-repo-collaborators {
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 10px;
  padding: 2rem;
  flex-grow: 2;
}

/* ============================== HEADER LINKS / DELETE INFO */

.single-repo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 7.3rem;
}

.delete-archive {
  text-align: right;
}

.delete-archive h3:nth-of-type(2) {
  margin-top: 0.8rem;
}

.delete-btn,
.archive-btn {
  display: inline-block;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  color: #fafafa;
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 10px;
}

.delete-btn:hover,
.archive-btn:hover {
  border: 1px solid #f09696;
  background-color: #e34c26;
  cursor: pointer;
}

.dismiss-notif {
  cursor: pointer;
  color: #8b949e;
  margin-top: 1rem;
}
