:root {
  --background: #161b22;
  --border: 1px solid #30363d;
  --color: #4e5358;
  --card-width: 210px;
}

.single-goal-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 29rem;
  border-radius: 20px;
  background-color: var(--background);
  border: var(--border);
  padding: 2rem;
  flex: 0 0 calc(25% - 1em);
}

.single-goal-card input {
  height: 2em;
  outline: none;
}

.goal-desc-input {
  min-height: 5.5rem;
  max-width: 100%;
  background-color: var(--color);
  color: rgb(209, 209, 209);
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  resize: none;
}

.date-input {
  background-color: var(--color);
  color: rgb(209, 209, 209);
  border-radius: 5px;
  padding: 0rem 0.5rem;
  border: none;
}

.goals-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goal-title {
  display: inline-flex;
  justify-content: flex-start;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  width: 80%;
  font-size: 18px;
  color: #58a6ff;
  background-color: var(--background);
  font-size: 16px;
}

.goal-title-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
}

.goal-button-container {
  display: inline-flex;
  justify-content: flex-end;
}

i {
  font-size: 25px;
}

.goal-btn-delete {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #d1593b;
}

.goal-btn-delete:hover {
  color: #db6d52;
}

.goal-btn-complete {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #238636;
  margin-left: 15px;
}

.goal-btn-complete:hover {
  color: #5f996b;
}

.button-edit {
  font-size: 14px;
  min-width: 20%;
  height: 25px;
  color: rgb(240, 240, 240);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  outline: none;
  border-radius: 30px;
  border: none;
  background: #58a6ff;
}

.button-edit:hover {
  background-color: #3a86ff;
}

.button-edit:active {
  top: 2px;
}

label {
  font-size: 12px;
  color: rgb(209, 209, 209);
}

.progression,
.description,
.due-date {
  display: flex;
  flex-direction: column;
}

.progression {
  margin: 1rem 0;
}

.description label,
.due-date label {
  margin-bottom: 0.5rem;
}
