:root {
  --background: #161b22;
  --border:  1px solid #30363d;
  --color: #4e5358;
  --card-width: 210px;
}
.single-goal-card {
  display: flex;
  flex-direction: column;
  height: 290px;
  width: var(--card-width);
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 1.5%;
  border-radius: 20px;
  background-color: var(--background);
  border: var(--border);
}

.single-goal-card input {
  height: 2em;
  margin-top: 10px;
}

.goal-desc-input{
  margin-top: 10px;
  min-height: 50px;
  max-width: var(--card-width);
  min-width: var(--card-width);
  background-color: var(--color);
  color: rgb(209, 209, 209);
  padding: 1px;
  border-radius: 5px;
}

.date-input{
  background-color: var(--color);
  color: rgb(209, 209, 209);
  border-radius: 5px;
  padding: 1px;
}

button{
    margin-left: 4px;
}

.goals-top-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.goal-title { 
  display: inline-flex;
  justify-content: flex-start;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  width: 80%;
  font-size: 18px;
  color: #58a6ff;
  background-color: var(--background);
  font-size: 16px;
}

.goal-title-container{
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
}

.goal-button-container{
  display: inline-flex;
  justify-content: flex-end;
}

i {
  font-size: 25px;
}

.goal-btn-delete{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #d1593b;
}

.goal-btn-delete:hover{
  color: #db6d52;
}

.goal-btn-complete{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #238636;
}

.goal-btn-complete:hover{
  color: #5f996b;
}

.button-edit {
  font-size: 14px;
  min-width: 20%;
  height: 25px;
  color: rgb(240, 240, 240);
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  outline: none;
  border-radius: 30px;
  border: none;
  background: #58a6ff;
}
.button-edit:hover {
  background-color: #3a86ff;
}
.button-edit:active {
  top: 2px;
}

label {
  font-size: 12px;
  margin-top: 3%;
  margin-bottom: -3%;
  color: rgb(209, 209, 209);
}


