.task-title {
  margin-bottom: 2rem;
}

.add-task-form {
  margin-bottom: 2rem;
}

.add-task-form input {
  padding-left: 4%;
  height: 25px;
  width: 96%;
  -moz-appearance: none;
  outline: none;
  border: none;
  border-radius: 10px;
}

.task-input {
  color: white;
  background-color: #161b22;
  height: 30px;
  width: 100%;
  padding-left: 4%;
  border: 1px solid #30363d;
  border-radius: 14px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.task i {
  font-size: 18px;
}

.tasks {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 30rem;
  padding-right: 1rem;
  margin-top: 1rem;
}

.task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.task-btns {
  display: flex;
}

.task-btn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-left: 0.5rem;
  color: rgb(158, 158, 158);
}

.task-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #30363d;
  padding: 1rem 2rem;
  border-radius: 10px;
  flex-grow: 2;
}

.task-title h2 {
  text-align: center;
  padding: 0.5rem;
  color: #fafafa;
  background-color: #161b22;
  border: 1px solid #30363d;
  border-radius: 10px;
}
